@using WebCrawler.Models
@model HtmlModel
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<h3>Count: @Model.ResultList.Count</h3>
<br />
<a href="/" class="btn btn-primary">Go back home</a>
<br />
@{
    foreach (string result in Model.ResultList)
    {
        if (result.Contains(Model.Keyword))
        {
            <span>@result</span>
            <br />
        }
    }
}